.cover-1 {
  background: linear-gradient(108.67deg, rgba(0, 156, 222, 0.44) 18.18%, rgba(217, 217, 217, 0.84) 99.4%);
  background-size: cover;
  height: 100vh;
}

.sidebar, .content {
  background: linear-gradient(108.67deg, rgba(0, 156, 222, 0.44) 18.18%, rgba(217, 217, 217, 0.84) 99.4%);
  background-size: cover;
}

.cover-2 ul li:hover {
  background-color: rgb(218, 213, 213);
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  background-color: gainsboro;
}

.header-1 {
  background-color: #009CDE;
  height: 124px;
}

.h-txt {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}
.txt {
  border-radius: 0px 0px 20px 20px;
}

.card {
  height: 60vh;
  background: linear-gradient(108.67deg, rgba(0, 156, 222, 0.44) 18.18%, rgba(217, 217, 217, 0.84) 99.4%);
}

.welcome {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 0.21em;
  color: #000000;
  text-shadow: 0px 4px 50px rgba(94, 91, 255, 0.1);
}

.home-card:hover {
  background-color: #0474ED;
}

.login {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 64px;
  /* or 200% */

text-align: center;

/* sec main color */

color: #0474ED;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Vina+Sans&display=swap');

* {
  font-family: 'Lato', sans-serif;
}